* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letherOuterBox {
    background-color: #8c3b0e;
    height: 98%;
    width: 98%;
    padding: 1%;
    border-radius: 10px;
}

.letherInnerBox {
    background-color: #8c3b0e;
    border: dashed 2.5px whitesmoke;
    width: 99%;
    height: 99%;
}

@media (min-width: 800px) {
    
    header {
        height: 200px;
        width: 100%;
        background: #1d2c3f;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 5px;
    }

    .logo {
        text-align: center;
        color: whitesmoke;
    }

    .logo h1 {
        font-size: 35px;
    }

    .logo h2 {
        font-size: 15px;
        color: #aaaaaa;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        bottom: 2px;
        right: 0;
        height: 40px;
        width: 35%;
        font-size: 14px;
    }

    .nav a {
        color: whitesmoke;
        font-weight: bolder;
        text-decoration: none;
        padding: 6px;
        background-color: none;
        border-radius: 3px;
        outline: none;
    }

    .nav .current {
        background-color: #8c3b0e;
    }

    footer {
        height: 280px;
        width: 90%;
        background-color: #181717;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: whitesmoke;
        padding-left: 5%;
        padding-right: 5%;
    }

    .openingstijden {
        font-size: 20px;
    }

    .socials {
        font-size: 25px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        height: 150px;
        color: whitesmoke;
    }

    .socials a {
        color: whitesmoke;
        text-decoration: none;
    }

    .socials a i {
        font-size: 35px;
        margin-right: 15px;
    }

    .localtion .data {
        text-align: center;
    }

    .location .data a {
        color: whitesmoke;
    }
}

@media (max-width: 800px) {
    header {
        height: 200px;
        width: 100%;
        background: #1d2c3f;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 5px;
    }

    .logo {
        text-align: center;
        color: whitesmoke;
    }

    .logo h1 {
        font-size: 28px;
    }

    .logo h2 {
        font-size: 13px;
        color: #aaaaaa;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        bottom: 2px;
        right: 0;
        height: 40px;
        width: 100%;
        font-size: 14px;
    }

    .nav a {
        color: whitesmoke;
        font-weight: bolder;
        text-decoration: none;
        padding: 6px;
        background-color: none;
        border-radius: 3px;
        outline: none;
    }

    .nav .current {
        background-color: #8c3b0e;
    }

    footer {
        height: 280px;
        width: 96%;
        background-color: #181717;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: whitesmoke;
        padding-left: 2%;
        padding-right: 2%;
    }

    .openingstijden {
        font-size: 10px;
    }

    .socials {
        font-size: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        height: 80px;
        color: whitesmoke;
    }

    .socials a {
        color: whitesmoke;
        text-decoration: none;
    }

    .socials a i {
        font-size: 15px;
        margin-right: 15px;
    }

    .location {
        width: 22%;
    }

    .location .map img {
        width: 100%;
    }

    .location .data {
        font-size: 8px;
    }

    .location .data a {
        color: whitesmoke;
    }
}