{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
</head>

<main>
    <div class="about lether">
        <h2>Welkom bij De Snelle Knipper</h2>
        <p>
            Mijn naam is Hendrik. Ik ben de snelle knipper. 
            Ik heb deze naam, omdat je bij mij snel klaar bent. 
            Voor je het weet sta je al weer naast de stoel met 
            een kapsel waar je tevreden mee bent. Ik zorg namelijk 
            dat iedereen tevreden is over zijn kapsel en dat 
            het er goed uit ziet!

            Gr, Hendrik
        </p>
        <p></p>
        <p></p>
        <h2>CONTACT</h2>
        <p>Telefoon & Whatsapp: 06 - 53648574 <br>(afspraken gaan voor)</p>
    </div>
    
    <div class="info">
        <div class="text lether">
            <!-- <img src="{% static 'IMG/silverMetal.jpg' %}" alt="Metal"> -->
            <div class="contact">
                <h3>Maak online een afspraak:</h2>
                <br>
                <h3><a href="http://www.salonkee.nl/salon/de-snelle-knipper" target="_blank">Salonkee</a></h3>
                <br>
                <h5><i>Binnen lopen mag</i></h5>
                <h5><i>(Afspraken gaan voor)</i></h5>
            </div>
        </div>
        <div class="shop">
            <img src="{% static 'IMG/insideShop.jpg' %}" alt="shop">
        </div>
    </div>
</main>