{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
</head>

<main>
    <div class="about">
        <div class="letherOuterBox">
            <div class="letherInnerBox">
                <h2>Hoi, ik ben de snelle knipper!</h2>
                <p>
                    Mijn naam is Hendrik. Ik ben de snelle knipper. 
                    Ik heb deze naam, omdat je bij mij snel klaar bent. 
                    Voor je het weet sta je al weer naast de stoel met 
                    een kapsel waar je tevreden mee bent. Ik zorg namelijk 
                    dat iedereen tevreden is over zijn kapsel en dat 
                    het er goed uit ziet!
                </p>
            </div>
        </div>
    </div>
    
    <div class="info">
        <div class="metal">
            <img src="{% static 'IMG/silverMetal.jpg' %}" alt="">
            <div class="overlay"></div>
            <div class="text">
                <h2>Neem contact op of kom eens langs!</h2>
                <h4>06-53 64 85 74</h4>
                <h3>Afspraken gaan voor</h3>
            </div>
        </div>
        <div class="shop">
            <img src="{% static 'IMG/insideShop.jpg' %}" alt="">
        </div>
    </div>
</main>