{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
</head>

<main>
    <div class="about lether">
        <h2>Hoi, ik ben de snelle knipper!</h2>
        <p>
            Mijn naam is Hendrik. Ik ben de snelle knipper. 
            Ik heb deze naam, omdat je bij mij snel klaar bent. 
            Voor je het weet sta je al weer naast de stoel met 
            een kapsel waar je tevreden mee bent. Ik zorg namelijk 
            dat iedereen tevreden is over zijn kapsel en dat 
            het er goed uit ziet!
        </p>
    </div>
    
    <div class="info">
        <div class="metal">
            <img src="{% static 'IMG/silverMetal.jpg' %}" alt="Metal">
            <div class="contact">
                <h3>Neem contact op of kom eens langs!</h2>
                <p>Telefoon & Whatsapp:</p>
                <h4>06-53 64 85 74</h3>
                <p>Afspraken gaan voor</p>
            </div>
        </div>
        <div class="shop">
            <img src="{% static 'IMG/insideShop.jpg' %}" alt="shop">
        </div>
    </div>
</main>