{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
</head>

<main>
    <div class="desktop">
        {% if user.is_authenticated %}
            <h1>Welcome {{ user.username }}</h1>
            <h3>You are allready logged in...</h3>
            <div style="display: flex; width: 30vw;" class="buttons">
                <a style="margin-right: 2vw; background: rgb(40, 192, 40);" class="back" href="/sitemanager">Sitemanager</a>
                <a style="margin-left: 2vw;" class="back" href="/">Back to site</a>
            </div>
        {% else %}
            <div class="login">
                <h2>Login</h2>
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" autocomplete="off">
                    <input type="password" name="password" placeholder="Password" autocomplete="off">
                    <button type="submit" name="login">Login</button>
                </form>
            </div> 
            <a class="back" href="/">Back to site</a>
        {% endif %}
    </div>
    <div class="phone">
        <h1>Sorry</h1>
        <h3>This page is not available for Phone's or tablet's...</h3>
        <a class="back" href="/">Back to site</a>
    </div>
</main>