{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/overMij.css' %}">
</head>

<main>
    <div class="lether trofeeBox">
        <div class="price">
            <h1>Prijzenkast</h1>
        </div>

        <div class="row">
            <div class="lether prijs">
                <img src="{% static 'IMG/ClubKampioenMiddenNederland.png' %}" alt="Prijs">
                <p>Club kampioen Midden Nederland (Heren) 1988 te Utrecht</p>
            </div>
            <div class="lether prijs">
                <img src="{% static 'IMG/JeugdWerledKammpioenschap.png' %}" alt="Prijs">
                <p>Eerste plaats jeugdwereld kampioenschap Modisch Kapsel (Heren) 1988 te Düsseldorf</p>
            </div>
            <div class="lether prijs">
                <img src="{% static 'IMG/JeugdWereldKampioenschap2.png' %}" alt="Prijs">
                <p>Eerste plaats jeugdwereld kampioenschap Modisch Kapsel (Heren) 1988 te Düsseldorf</p>
            </div>
            <div class="lether prijs">
                <img src="{% static 'IMG/OostelijkClubKampioen.png' %}" alt="Prijs">
                <p>Oostelijk Club Kampioen (Heren) 1988 te Hengelo</p>
            </div>
        </div>

        <div class="row">
            <div class="lether prijs">
                <img src="{% static 'IMG/TeamWdstrijdSalonKapsel.png' %}" alt="Prijs">
                <p>Eerste plaats Teamwedstrijd Salonkapsel (Dames) 1990 te Hengelo</p>
            </div>
            <div class="lether prijs">
                <img src="{% static 'IMG/ToekomsttrofeeDelft.png' %}" alt="Prijs">
                <p>Eerste plaats Toekomsttrofee Modisch Kapsel (Heren) 1987 te Delft</p>
            </div>
            <div class="lether prijs">
                <img src="{% static 'IMG/ToekomsttrofeeGroningen.png' %}" alt="Prijs">
                <p>Winnaar Toekomsttrofee (Heren) 1989 te Groningen</p>
            </div>
            <div class="lether prijs">
                <img src="{% static 'IMG/VoortgezetHerenVakSalonKapsel.png' %}" alt="Prijs">
                <p>Eerste plaats Voortgezet Heren-vak Salonkapsel 1989 te Amsterdam</p>
            </div>
        </div>
    </div>
</main>