{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'DataLectro-Sitemanager/CSS/home.css' %}">
</head>
<main>
    <a href="/sitemanager/knipprijs" class="buttonMedia">
        <img src="{% static 'DataLectro-Sitemanager/IMG/document-icon.png' %}">
        <h2>Knip prijs</h2>
    </a>
    <a href="/sitemanager/kortingen" class="buttonMedia">
        <img src="{% static 'DataLectro-Sitemanager/IMG/document-icon.png' %}">
        <h2>Kortingen</h2>
    </a>
    <a href="/sitemanager/nieuws" class="buttonMedia">
        <img src="{% static 'DataLectro-Sitemanager/IMG/media-icon.png' %}">
        <h2>Nieuws</h2>
    </a>
</main>