{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'DataLectro-Sitemanager/CSS/price.css' %}">
</head>
<main>
    <div class="header">
        <h1>Knipprijs</h1>
        <a href="/sitemanager"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Return</a>
    </div>
    <div class="container">
        <div class="price">
            <div class="border">
                <h1>Huidige knipprijs</h1>
                <h2>&euro; {{ knipprijs }}</h2>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <p>Geef hier de nieuwe knipprijs op</p>
            <i>let op, gebruik niet het &euro; teken</i>
            <div class="inputs">
                <input type="text" placeholder="price" name="inputPrice" autocomplete="off">
                <button name="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
</main>