{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'DataLectro-Sitemanager/CSS/sales.css' %}">
</head>
<main>
    <div class="header">
        <h1>Kortingen</h1>
        <a href="/sitemanager"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Return</a>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h2>Voeg hier nieuwe kortingen toe:</h2>
            <input type="text" name="saleName" placeholder="Naam / omschrijving van korting" autocomplete="off">
            <input type="text" name="salePrice" placeholder="Korting (prijs)" autocomplete="off">
            <button name="add" type="submit">Submit</button>
        </form>
        <div class="salesList">
            {% for korting in kortingen %}
            <div class="itemBox">
                <div class="sale">
                    <h1>Korting - {{ korting.saleName }}</h1>
                    <h2>{{ korting.salePrice }}</h2>
                </div>
                <a class="delIcon" href="/sitemanager/kortingen/delete/{{ korting.id }}"><i class="fa fa-trash"></i></a>
            </div>
            {% endfor %}
        </div>
    </div>
</main>