@media (min-width: 800px) {
    main {
        background-color: #272727;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .about {
        height: 500px;
        width: 35%;
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .about h2 {
        margin-bottom: 20px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        color: #3d1601;
        text-shadow: black 1px 1px;
    }

    .about p {
        margin-bottom: 10px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: justify;
        font-size: 18px;
    }

    .info {
        height: 545px;
        width: 25%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .text,
    .text a {
        color: rgb(16, 16, 16);
    }

    .text {
        width: calc(100% - 45px);
    }

    img {
        width: 100%;
    }
}

@media (max-width: 800px) {
    main {
        background-color: #272727;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .about {
        height: 450px;
        width: 350px;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .about h2 {
        margin-bottom: 20px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        color: #3d1601;
        text-shadow: black 1px 1px;
    }

    .about p {
        margin-bottom: 10px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: justify;
    }

    .info {
        height: 450px;
        width: 400px;
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .text::before {
        background-color: #1d2c3f;
    }

    .text,
    .text a {
        color: rgb(16, 16, 16);
    }

    .text {
        width: calc(100% - 45px);
    }

    img {
        width: 100%;
    }
}