@media (min-width: 800px) {
    .phone {
        display: none;
    }

    main {
        padding-top: 10vw;
        padding-bottom: 10vw;
        background-color: #272727;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .desktop {
        width: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .login {
        width: 100%;
    }

    .login h2 {
        text-align: center;
        margin-bottom: 2vh;
        font-size: 4vh;
        font-weight: 900;
        color: whitesmoke;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }

    form input {
        width: 96%;
        height: 4vh;
        margin-bottom: 2vh;
        padding: 2%;
        outline: none;
        border: none;
    }

    form button {
        height: 6vh;
        width: 100%;
        margin-bottom: 2vh;
        background: rgb(56, 207, 56);
        border: none;
        outline: none;
        color: whitesmoke;
        font-size: 2.5vh;
        cursor: pointer;
    }

    .back {
        height: 6vh;
        width: 100%;
        background: red;
        outline: none;
        color: whitesmoke;
        font-size: 2.5vh;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        width: 50vw;
        font-size: 5vh;
        color: whitesmoke;
        text-align: center;
    }

    h3 {
        width: 50vw;
        font-size: 3vh;
        color: whitesmoke;
        text-align: center;
        margin-bottom: 5vh;
    }
}

@media (max-width: 800px) {
    .desktop {
        display: none;
    }

    main {
        padding-top: 35vw;
        padding-bottom: 35vw;
        background-color: #272727;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: center;
    }

    h1 {
        font-size: 15vw;
        color: whitesmoke;
    }

    h3 {
        font-size: 6vw;
        color: red;
    }

    .back {
        margin-top: 5vh;
        margin-left: 10%;
        height: 6vh;
        width: 80%;
        background: rgb(49, 201, 49);
        outline: none;
        color: whitesmoke;
        font-size: 2.5vh;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}